/* .tokenChart{
    width: 400px;
    height: 400px;
    display: flex;
    border-radius: 50%;
    background-image: conic-gradient(#80D4FF 70deg, #838989 0 235deg, #0D4664 0);
    align-items: center;
    justify-content: center;
}*/
.tokenChartBlock,
.tokenImgBlock {
  max-width: 50%;
}
.tokenImgBlock {
  position: relative;
}
.tokenChartBlock img {
  width: 100%;
}
.tokenImgBlock:before {
  content: "";
  background-image: url("../../images/token-bck-tree.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 80%;
  left: 0%;
  top: 0px;
}
.tokenImgBlock img {
  position: relative;
  width: 100%;
}

/* MEDIA QUERIES///////////////////// */
@media (max-width: 900px) {
  .tokenChartBlock img {
    width: 50%;
  }
  .tokenImgBlock img {
    width: 70%;
  }
  .tokenImgBlock::before {
    left: auto;
    width: 300px;
  }
}
@media (max-width: 450px) {
  .tokenImgBlock::before {
    width: 200px;
  }
}
